

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: "Poppins", sans-serif;
}

:root {
   --yellow: #ffd700;
   --blue: #1b1a55;
   --green: #4caf50;
   --white: #ffffff;
   --dark-bg: #121212;
}


.background-image {
   position: relative;
   width: 100%;
   min-height: 100vh;
   background-image: url('/assets/background/background_site.jpg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   z-index: -1;
}


.admin-card-container {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 30px;
   margin-top: 150px;
}

.admin-card {
   background: linear-gradient(145deg, #000000, #1a1a1a);
   border: 2px solid var(--yellow);
   padding: 25px;
   border-radius: 20px;
   text-align: center;
   cursor: pointer;
   transition: all 0.3s ease-in-out;
   width: 250px;
   height: 120px;
   display: flex;
   justify-content: center;
   align-items: center;
   box-shadow: none; /* No glow by default */
}

   .admin-card:hover {
      transform: translateY(-10px) scale(1.1);
      box-shadow: 0 0 30px var(--yellow); /* Glow effect only on hover */
   }

   .admin-card a {
      color: var(--yellow);
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
   }

   .admin-card span {
      color: var(--yellow);
      text-decoration: none;
      font-weight: bold;
      font-size: 20px;
      text-transform: uppercase;
   }

.admin-title {
   text-align: center;
   color: var(--yellow);
   margin-top: 50px;
   font-size: 2.5rem;
   text-shadow: 0 0 20px var(--dark-bg);
   margin-top: 10rem;
}


.modal-overlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 999;
}

.modal-box {
   background: #1a1a1a;
   padding: 2rem;
   border-radius: 12px;
   border: 2px solid var(--yellow);
   color: var(--white);
   text-align: center;
   width: 90%;
   max-width: 400px;
   box-shadow: 0 0 15px var(--yellow);
}

.modal-actions {
   margin-top: 1.5rem;
   display: flex;
   justify-content: center;
   gap: 1rem;
}

.modal-btn {
   padding: 10px 20px;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   font-weight: bold;
   font-size: 1rem;
}

   .modal-btn.confirm {
      background: var(--green);
      color: white;
   }

   .modal-btn.cancel {
      background: crimson;
      color: white;
   }
