
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		font-family: "Poppins", sans-serif;
	}

	:root {
		--yellow: #ffd700;
		--blue: #1b1a55;
		--green: #4caf50;
		--white: #ffffff;
		--dark-bg: #121212;
	}


	.background-image {
		position: relative;
		width: 100%;
		min-height: 100vh;
		background-image: url('/assets/background/background_site.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
		z-index: -1;
	}

	.container {
		max-width: 1200px;
		margin: 8rem auto;
		padding: 20px;
	}


	.content {
		text-align: center;
		color: var(--white);
		z-index: 1;
	}

		.content h1 {
			font-weight: 800;
			color: var(--yellow);
			margin-bottom: 1rem;
			text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
			transition: color 0.3s;
		}

			.content h1:hover {
				color: var(--green);
			}

	.main-title {
		color: var(--yellow);
		font-size: 2.5rem;
		font-weight: 700;
		text-align: center;
		margin-bottom: 1.5rem;
		text-shadow: 0 0 20px var(--dark-bg);
		margin-top: 2rem;
	}

	.filter-form {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 2rem;
	}

		.filter-form select,
		.filter-form input {
			width: 100%;
			border-radius: 5px;
			padding: 0.8rem;
			font-size: 1rem;
			margin-right: 10px;
			border: 1px solid var(--yellow);
		}

		.filter-form button {
			background: var(--yellow);
			color: var(--dark-bg);
			border: none;
			font-weight: 600;
			padding: 0.8rem 1.5rem;
			border-radius: 5px;
			transition: background 0.3s;
			
		}

			.filter-form button:hover {
				background: var(--green);
				color: var(--white);
			}

	.product-card {
		border: 2px solid var(--yellow);
		border-radius: 10px;
		overflow: hidden;
		background: var(--dark-bg);
		color: var(--white);
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
		transition: transform 0.3s, box-shadow 0.3s;
		width: 18rem;
		margin: 20px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}


		.product-card:hover {
			transform: scale(1.05);
			box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
		}

		.product-card img {
			height: 150px;
			width: 100%;
			object-fit: contain;
			background-color: #ffffff;
			padding: 10px;
			border-bottom: 2px solid var(--yellow);
		}

	.card-bottom {
		margin-top: auto; 
		display: flex;
		flex-direction: column;
		gap: 10px; 
		align-items: center;
	}
	/*	.card-body {
			display: flex;
			flex-direction:column;
			padding: 1rem;
			text-align: center;
		}*/
	.card-body {
		display: flex;
		flex-direction: column;
		flex-grow: 1; 
		text-align: center;
		padding: 1rem;
		justify-content: space-between; 
	}

	.card-title {
		font-size: 1.2rem;
		font-weight: 700;
		color: var(--yellow);
		margin-bottom: 0.5rem;
	}

	.card-brand {
		font-size: 1rem;
		color: #b0b0b0;
		margin-bottom: 0.3rem;
	}

	.card-price {
		font-size: 1.3rem;
		font-weight: bold;
		color: var(--green);
		margin-bottom: 0.5rem;
	}

	.card-description {
		font-size: 0.9rem;
		margin: 0.5rem 0;
		color: #d4d4d4;
		min-height: 8.5rem;
	}


	.card-buttons {
		background: var(--green);
		color: var(--white);
		border: none;
		font-weight: 600;
		padding: 0.6rem 1rem;
		border-radius: 5px;
		font-size: 0.9rem;
		transition: background 0.3s, transform 0.3s;
	}

	.btn-add-to-cart {
		padding: 0.8rem 1.5rem;
		font-size: 1rem;
		font-weight: bold;
		border-radius: 12px;
		border: none;
		background: var(--green);
		color: var(--white);
		cursor: pointer;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
		transition: all 0.3s ease-in-out, box-shadow 0.2s ease-in-out;
		position: relative;
		overflow: hidden;

		margin-top: auto;
	}

		.btn-add-to-cart:active {
			transform: scale(0.95);
			box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
			background: #45a049;
		}

		.btn-add-to-cart:hover {
			background: var(--yellow);
			color: var(--dark-bg);
			box-shadow: 0 6px 15px rgba(255, 215, 0, 0.5);
			transform: scale(1.1);
		}

		.btn-add-to-cart::after {
			content: "";
			position: absolute;
			top: 50%;
			left: 50%;
			width: 200%;
			height: 200%;
			background: rgba(255, 255, 255, 0.3);
			transition: all 0.5s;
			border-radius: 50%;
			transform: translate(-50%, -50%) scale(0);
		}

		.btn-add-to-cart:active::after {
			transform: translate(-50%, -50%) scale(1);
			opacity: 0;
		}

	.card-buttons .btn-add-to-cart:hover {
		background: var(--yellow);
		color: var(--dark-bg);
		transform: scale(1.05);
	}

	.cart-form {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
	}


	.row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 15px;
	
	}


	@media (max-width: 768px) {
		.navbar {
			display: none;
		}

		.logo img {
			height: 30px;
		}
	}

	.category-menu {
		position: fixed;
		top: 8rem;
		left: 20px;
		width: 12rem;
		background: var(--dark-bg);
		border: 1px solid var(--yellow);
		border-radius: 5px;
		padding: 15px;
		z-index: 10;
	}

		.category-menu h4 {
			color: var(--yellow);
			font-size: 1.5rem;
			margin-bottom: 10px;
			text-align: center;
		}

		.category-menu ul {
			list-style: none;
			padding: 0;
			margin: 0;
		}

			.category-menu ul li {
				margin: 15px 0;
				text-align: center;
			}

				.category-menu ul li a {
					text-decoration: none;
					font-size: 1rem;
					color: var(--white);
					transition: color 0.3s;
				}

					.category-menu ul li a:hover {
						color: var(--green);
					}

		.category-menu .active-category a {
			font-weight: bold;
			color: var(--yellow);
			text-decoration: none;
		}

	.no-products-found {
		text-align: center;
		margin-top: 2rem;
		color: var(--yellow);
		font-size: 1.5rem;
		font-weight: bold;
		padding: 2rem;
		background: rgba(0, 0, 0, 0.6);
		border-radius: 10px;
	}

		.no-products-found i {
			font-size: 3rem;
			margin-bottom: 1rem;
			display: block;
			color: lightcoral;
		}


	/*DASHBOARD*/

	.manage-box {
		margin-top: 15rem;
	}

	.dashboard {
		max-width: 80rem;
		margin: 8rem auto;
		padding: 20px;
		background-color: rgba(0, 0, 0, 0.8);
		color: var(--white);
		border-radius: 10px;
		box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
	}

	.dashboard-header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 20px;
	}

		.dashboard-header h1 {
			font-size: 2rem;
			color: var(--yellow);
		}

	.btn-add-product {
		background-color: var(--green);
		color: var(--white);
		padding: 0.6rem 1.2rem;
		border-radius: 5px;
		text-decoration: none;
		font-weight: bold;
	}

	.dashboard-table {
		width: 100%;
		border-collapse: collapse;
		margin-top: 20px;
	}

		.dashboard-table th, .dashboard-table td {
			padding: 12px;
			text-align: center;
			vertical-align: middle;
			border-bottom: 1px solid var(--yellow);
		}


		.dashboard-table th {
			background-color: var(--yellow);
			color: var(--dark-bg);
		}

		.dashboard-table tr:hover {
			background-color: rgba(255, 215, 0, 0.2);
		}

	.product-thumbnail {
		width: 80px;
		height: auto;
		border-radius: 5px;
	}

	.btn-edit {
		padding: 0.5rem 1rem;
		border-radius: 5px;
		font-weight: bold;
		border: none;
		cursor: pointer;
		color: var(--white);
		transition: transform 0.2s ease, box-shadow 0.2s ease;
		text-align: center;
		text-decoration: none;
		background-color: var(--yellow);
	}

		.btn-edit:hover {
			transform: scale(1.1);
			box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
			filter: brightness(1.1);
		}

	.btn-delete {
		padding: 0.5rem 1rem;
		border-radius: 5px;
		font-weight: bold;
		border: none;
		cursor: pointer;
		color: var(--white);
		transition: transform 0.2s ease, box-shadow 0.2s ease;
		text-align: center;
		text-decoration: none;
		background-color: crimson;
	}

		.btn-delete:hover {
			/*transform: scale(1.1);*/
			box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
			filter: brightness(1.1);
		}

	.inline-form {
		display: inline-block;
		margin: 0;
	}



	.btn-link {
		padding: 0.5rem 1rem;
		border-radius: 5px;
		font-weight: bold;
		border: none;
		cursor: pointer;
		color: var(--white);
		transition: transform 0.2s ease, box-shadow 0.2s ease;
		text-align: center;
		text-decoration: none;
		background-color: var(--blue);
	}

		.btn-link:hover {
			transform: scale(1.1);
			box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
			filter: brightness(1.1)
		}

	/* Button Group Styling */
	.button-group {
		display: flex;
		justify-content: center;
		gap: 10px;
		flex-wrap: wrap;
		align-items: center;
		width: 20rem;
	}

	@media screen and (max-width: 768px) {
		.button-group {
			flex-direction: column;
			gap: 8px;
			align-items: center;
		}

		.btn-edit, .btn-link, .btn-delete {
			width: 100%;
			max-width: 200px;
		}

		.dashboard-table th, .dashboard-table td {
			font-size: 0.9rem;
			padding: 8px;
		}
	}


	@media (max-width: 1024px) {
	
		.category-menu {
			position: relative;
			width: 100%;
			left: 0;
			top: 0;
			text-align: center;
			border-radius: 0;
			padding: 10px;
		}
			.category-menu ul {
				display: flex;
				justify-content: center;
				gap: 10px;
			}

				.category-menu ul li {
					display: inline-block;
				}
	}

	@media (max-width: 768px) {

	
		.logo img {
			height: 30px;
		}
		.category-menu {
			position: relative;
			width: 100%;
			left: 0;
			top: 0;
			text-align: center;
			border-radius: 0;
			padding: 10px;
		}

			.category-menu ul {
				display: flex;
				justify-content: center;
				gap: 10px;
			}

				.category-menu ul li {
					display: inline-block;
				}

		.row {
			margin-left: 0;
			flex-direction: column;
			align-items: center;
		}

		.product-card {
			width: 90%;
			max-width: 400px;
		}
	}

	@media (max-width: 480px) {

		.container {
			padding: 10px;
		}

		.category-menu h4 {
			font-size: 1.2rem;
		}

		.btn-add-to-cart {
			width: 100%;
		}
	}

	.pdf-download-container {
		display: flex;
		justify-content: center;
		margin-bottom: 10px; 
	}

	.btn-download-pdf {
		display: flex;
		align-items: center;
		gap: 6px;
		background: #ff4136; 
		color: white;
		font-size: 14px;
		font-weight: 600;
		padding: 8px 14px;
		border-radius: 8px;
		text-decoration: none;
		transition: background 0.3s, transform 0.2s;
		box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	}

		.btn-download-pdf i {
			font-size: 18px;
		}

		.btn-download-pdf:hover {
			background: #d63031; /* Darker red on hover */
			transform: scale(1.05);
		}
