@font-face {
	font-family: 'Poppins';
	src: url('../assets/fonts/Poppins-Regular.ttf') format('truetype');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Poppins';
	src: url('../assets/fonts/Poppins-Bold.ttf') format('truetype');
	font-weight: 700;
	font-display: swap;
}


* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Poppins", sans-serif;
}

:root {
	--yellow: #ffd700;
	--blue: #1b1a55;
	--green: #4caf50;
	--white: #ffffff;
	--dark-bg: #121212;
}

@media (max-width: 768px) {
	.navbar {
		display: none;
	}

	.logo img {
		height: 30px;
	}
}

.header-nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.8rem 3rem;
	display: flex;
	justify-content: space-between;
	background: rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(20px);
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
	align-items: center;
	z-index: 100;
	text-align: center;
	
}

	.header-nav::after {
		content: "";
		position: absolute;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background: linear-gradient(90deg, transparent, rgba(50, 130, 184, 0.3));
		transition: 0.5s;
	}

	.header-nav:hover::after {
		left: 100%;
	}

.navbar {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.logo {
	font-size: 3rem;
	color: #FFD700;
	text-decoration: none;
	font-weight: 700;
}

	.logo img {
		height: 70px;
		transition: transform 0.3s ease;
	}

		.logo img:hover {
			transform: rotate(10deg);
		}

.header-nav .page-type {
	font-size: 1.5rem;
	color: #2196F3;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 3px;
}


.content a {
	font-size: 1.2rem;
	text-decoration: none;
	display: inline-block;
	color: #fff;
	border: 2px solid #fff;
	margin-top: 20px;
	padding: 10px 15px;
	background-color: transparent;
	border-radius: 5px;
	transition: background-color 0.5s, color 0.5s;
}

	.content a:hover {
		background-color: var(--white);
		color: var(--green);
	}


.nav-link {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
	color: var(--yellow);
	text-decoration: none;
	font-weight: 600;
	transition: color 0.3s, transform 0.3s ease;
}


	.nav-link:hover {
    color: var(--green);
    transform: scale(1.1);
}
.nav-icon img {
	width: 1.2em;
	height: 1.2em;
	margin-right: 8px;
	filter: brightness(0) invert(1);
	transition: filter 0.3s ease, transform 0.3s ease;
}

.nav-link:hover .nav-icon img {
	filter: brightness(0.8) invert(0.5);
	transform: scale(1.1);
}

/*.cart-badge {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate(50%, -50%);
	padding: 0.4rem 0.6rem;
	background: var(--green);
	border-radius: 50%;
	color: var(--white);
	font-size: 0.9rem;
	font-weight: bold;
}*/


@media (max-width: 768px) {
	.navbar {
		grid-template-columns: repeat(1, 1fr); 
		justify-content: center;
	}
}


.alert {
	padding: 1rem;
	border-radius: 8px;
	text-align: center;
	font-weight: bold;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 1000;
	width: 30%;
	max-width: 1200px;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
	opacity: 0;
	transition: opacity 0.5s ease-in-out, top 0.5s ease-in-out;
}

	.alert.show {
		opacity: 1;
		top: 7rem;
	}

.alert-danger {
	background-color: #f8d7da;
	color: #721c24;
	border: 1px solid #f5c6cb;
}

.alert-success {
	background-color: #d4edda;
	color: #155724;
	border: 1px solid #c3e6cb;
}
