
* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: "Poppins", sans-serif;
}
:root {
   --yellow: #ffd700;
   --dark-bg: #121212;
   --green: #4caf50;
   --white: #ffffff;
   --light-gray: #d7dfe0;
   --blue-gray: #1b1a55;
}


.background-image {
   position: relative;
   width: 100%;
   min-height: 100vh;
   background-image: url('/assets/background/background_site.jpg');
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
   z-index: -1;
}
.showcase-register {
   top: 7rem;
   position: absolute;
   right: 0;
   width: 100%;
   height: 100vh;
   background-image: linear-gradient(rgba(12, 3, 51, 0.1), rgba(12, 3, 51, 0.1));
   padding: 0 5%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.register-container {
   background: rgba(0, 0, 0, 0.8);
   width: 35rem;
   margin: 50px auto;
   padding: 20px;
   border: 1px solid var(--yellow);
   border-radius: 10px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: var(--white);
}

.register-text {
   font-family: "Poppins", sans-serif;
   color: var(--yellow);
   font-size: 2.5rem;
   font-weight: bold;
   text-align: center;
   margin-bottom: 2rem;
   text-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.form-floating {
   position: relative;
   width: 16rem;
}

   .form-floating label {
      font-size: 1rem;
      font-weight: bold;
      color: var(--yellow);
      margin-bottom: 0.5rem;
      display: block;
   }

   .form-floating input:focus + label,
   .form-floating input:not(:placeholder-shown) + label {
      top: 0;
      left: 10px;
      background: rgba(255, 255, 255, 0.9);
      padding: 0 5px;
      color: #001f3f;
   }

.form-control {
   width: 100%;
   padding: 1.2rem;
   margin-bottom: 16px;
   box-sizing: border-box;
   border: 2px solid #ccc;
   border-radius: 5px;
   background-color: #f8f8f8;
   transition: border-color 0.3s ease-in-out;
   color: #555;
   font-size: 1rem;
}

   .form-control:focus {
      border-color: var(--green);
      outline: none;
      box-shadow: 0 0 5px var(--green);
   }

.text-danger {
   color: red;
 
}

.w-100.btn.btn-lg.btn-primary {
   width: 100%;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   background-color: var(--green);
   color: var(--white);
   font-size: 1.2rem;
   font-weight: bold;
   cursor: pointer;
   transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

   .w-100.btn.btn-lg.btn-primary:hover {
      background-color: var(--yellow);
      color: var(--dark-bg);
      transform: scale(1.05);
   }

.link-container {
   text-align: center;
   margin-top: 1rem;
}

.login-link {
   color: var(--yellow);
   text-decoration: none;
   transition: color 0.3s ease-in-out;
}

   .login-link:hover {
      color: #0056b3;
      text-decoration: none;
   }

#external-account .btn-primary {
   margin-bottom: 10px;
   background-color: var(--yellow);
   color: var(--dark-bg);
   border: none;
   font-size: 1rem;
   padding: 10px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.3s, transform 0.2s;
}

   #external-account .btn-primary:hover {
      background-color: var(--green);
      color: var(--white);
      transform: scale(1.05);
   }

#error-message-register {
   color: crimson;
   font-size: 0.8rem;
   margin-top: 0.1rem;
   text-align: center;
}


.swal2-popup {
   font-family: "Poppins", sans-serif;
   background: rgba(0, 0, 0, 0.8); 
   background-size: cover;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
   border-radius: 15px;
   color: var(--white); 
}

.swal2-title {
   color: var(--yellow); 
   font-size: 2em;
   font-weight: 700;
   text-shadow: 0 0 10px rgba(255, 215, 0, 0.5); 
   margin-bottom: 1rem;
}

.swal2-content {
   color: var(--white);
   font-size: 1.2em;
   text-align: center;
   margin: 0 auto;
   max-width: 90%; 
   padding: 0 1rem;
}

.swal2-icon.swal2-success {
   border-color: var(--green); 
   background-color: rgba(0, 0, 0, 0.8); 
}

   .swal2-icon.swal2-success [class^=swal2-success-line] {
      background-color: var(--green);
   }

.swal2-confirm {
   background-color: var(--green) !important; 
   color: var(--white) !important; 
   border-radius: 10px;
   padding: 0.5em 2em;
   font-size: 1em;
   font-weight: 600;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
   transition: background-color 0.3s ease, transform 0.2s ease; 
}

   .swal2-confirm:hover {
      background-color: var(--yellow) !important; 
      color: var(--dark-bg) !important; 
      transform: scale(1.05); /
   }

.swal2-cancel {
   background-color: #ff4d4d !important; 
   color: var(--white) !important;
   border-radius: 10px;
   padding: 0.5em 2em;
   font-size: 1em;
   font-weight: 600;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   transition: background-color 0.3s ease, transform 0.2s ease;
}

   .swal2-cancel:hover {
      background-color: #e60000 !important; 
      transform: scale(1.05);
   }

.custom-swal-popup {
   font-family: "Poppins", sans-serif;
   background: linear-gradient(135deg, #1b1a55, #2a5298);
   border-radius: 15px;
   box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
   color: var(--white);
}

.custom-swal-title {
   color: var(--yellow);
   font-size: 2rem;
   font-weight: 700;
   text-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
   margin-bottom: 1rem;
}

.custom-swal-content {
   color: var(--white);
   font-size: 1.2rem;
   text-align: center;
   max-width: 90%;
   padding: 0 1rem;
}

.custom-swal-confirm {
   background-color: var(--green) !important;
   color: var(--white) !important;
   border-radius: 10px;
   padding: 0.5em 2em;
   font-size: 1em;
   font-weight: 600;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   transition: background-color 0.3s ease, transform 0.2s ease;
}

   .custom-swal-confirm:hover {
      background-color: var(--yellow) !important;
      color: var(--dark-bg) !important;
      transform: scale(1.05);
   }

.custom-swal-cancel {
   background-color: #ff4d4d !important;
   color: var(--white) !important;
   border-radius: 10px;
   padding: 0.5em 2em;
   font-size: 1em;
   font-weight: 600;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
   transition: background-color 0.3s ease, transform 0.2s ease;
}

   .custom-swal-cancel:hover {
      background-color: #e60000 !important;
      transform: scale(1.05);
   }

.swal2-actions {
   display: flex;
   justify-content: center;
   gap: 1rem;
   margin-top: 1rem;
}
